// Заголовки, загальні БЕМ блоки та інше...


.page {

    // .page__main

    &__main {
    }
      // .page__partners

      &__partners {
    }
       // .page__how

       &__how {
    }
}

.title{
color: #FFF;
font-size: toRem(70);
font-weight:600;
line-height: math.div(65,70);
@include adaptiveValue("font-size",70, 45);
&_s64{
    @include adaptiveValue("font-size",64, 40);

}
span{
    color: $greenColor;
}
}
// ===================================================================================
.text{
line-height: 180%;
}

// ===================================================================================

