//====================================================================================================

.main-blok {


    // .main-blok__container-big
    &__container-big{
        position: relative;
    }
    // .main-blok__container

    &__container {
    }

    // .main-blok__content

    &__content {
        @include adaptiveValue("padding-top",250 ,130 );
        @include adaptiveValue("padding-bottom",200 ,30 );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    // .main-blok__title

    &__title {
        max-width: toRem(750);

        &:not(:last-child) {
            
            @include adaptiveValue("margin-bottom",69 , 30);
        }

    }

    // .main-blok__text

    &__text {
        line-height:180%;
        max-width: toRem(570);
        &:not(:last-child) {
            margin-bottom: toRem(48);
            @include adaptiveValue("margin-bottom",48 , 20);
        }
    }

    // .main-blok__form

    &__form {
    @media (max-width: em(430)) {
        width: 100%;
        
    }    
    }

    // .main-blok__icons

    &__icons {}
}

.title {}

.button {}

.icons-main-blok {

    // .icons-main-blok__item

    &__item {
        position: absolute;

    }

    // .icons-main-blok__item-1

    &__item_1 {
        top: percent( 682, 974 );
        left: 0;

    }

    // .icons-main-blok__item-2

    &__item_2 {}

    // .icons-main-blok__item-3

    &__item_3 {}

    // .icons-main-blok__item-4

    &__item_4 {}

    // .icons-main-blok__item-5

    &__item_5 {}

    // .icons-main-blok__item-6

    &__item_6 {}

    // .icons-main-blok__item-7

    &__item_7 {}
}

//====================================================================================================